/* Header*/
.hero-section {
    background: url("https://images.unsplash.com/photo-1511923199659-1c16881689de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=687&q=80") 50% no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .hero-section .hero-section-text {
    color: #d089e6;
    text-shadow: 2px 2px 5px #5e5563;
    
  }

  #title {
      font-family: 'Tangerine', cursive;
      font-size: 5em;
  }

  #main {
        background-color: linear-gradient(#FDE7FD, #F3B3F3, #E283E2);
  }

  .container {
      margin: 2em 10em 2em 10em;
  }





/* product cards "top sellers"*/

.product-card {
    background-color: #fefefe;
    border: 1px solid #e6e6e6;
    padding: 1rem;
    margin-bottom: 1.5rem;
    display: inline-block;
  }
  
  .product-card-thumbnail {
    display: block;
    position: relative;
  }
  
  .product-card-title {
    font-family: 'Open sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.45rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  
  .product-card-desc {
    color: #8a8a8a;
    display: block;
    font-family: 'Open sans', sans-serif;
    font-size: 0.85rem;
  }
  
  .product-card-price {
    color: #3e3e3e;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 0.8rem;
  }
  
  .product-card-sale {
    color: #cacaca;
    display: inline-block;
    font-size: 0.85rem;
    margin-left: 0.3rem;
    text-decoration: line-through;
  }

  /* commit */

  .full-width-testimonial {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1)), url("https://images.unsplash.com/photo-1487412947147-5cebf100ffc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
    background-position: center center;
  }
  
  .full-width-testimonial-icon .quote-path {
    fill: none;
    stroke: #ffae00;
    stroke-width: 2.5192;
    stroke-miterlimit: 10;
  }
  
  .full-width-testimonial-content,
  .full-width-testimonial-icon {
    text-align: center;
  }
  
  .full-width-testimonial-section {
    padding-top: 2rem;
  }
  
  .full-width-testimonial-section .full-width-testimonial-text {
    font-weight: 300;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -5px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 1.5em;
  }
  













  /* Media Queries*/

  /* max width 320PX */

@media only screen and (min-width: 320px) {
    .hero-section .hero-section-text {
        color: #c86de4;
        text-shadow: 2px 2px 5px #5e5563;
        
    }
}
 
@media only screen and (min-width: 320px) {
  #title {
      font-family: 'Tangerine', cursive;
      font-size: 75px;
      line-height: 50px;
  }
}
  